body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
}

.login-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    radial-gradient(circle at top left, #1e3a8a, transparent),
    radial-gradient(circle at bottom right, #0ea5e9, transparent),
    #0f172a;
}

.login-card {
  width: 400px;

  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.08);

  padding: 40px;

  border-radius: 20px;

  color: white;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.4);

  animation: fadeIn 0.5s ease;
}

.login-card h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 30px;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-card input {
  padding: 14px;

  border: none;
  outline: none;

  border-radius: 12px;

  background: rgba(255,255,255,0.08);

  color: white;

  font-size: 16px;
}

.login-card input::placeholder {
  color: #cbd5e1;
}

.login-card button {
  padding: 14px;

  border: none;

  border-radius: 12px;

  background: linear-gradient(135deg, #3b82f6, #06b6d4);

  color: white;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.login-card button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.error-message {
  background: rgba(239,68,68,0.2);

  border: 1px solid rgba(239,68,68,0.3);

  color: #fecaca;

  padding: 12px;

  border-radius: 10px;

  margin-bottom: 20px;
}

.register-text {
  margin-top: 20px;
  color: #cbd5e1;
}

.register-text a {
  color: #38bdf8;
  margin-left: 6px;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.sort-select {

  padding: 10px;

  border-radius: 8px;

  margin: 15px 0;

  background: #1e293b;

  color: white;

  border: none;
}

.pagination {

  display: flex;

  justify-content: center;

  gap: 10px;

  margin-top: 30px;

  flex-wrap: wrap;
}

.pagination button {

  padding: 10px 15px;

  border: none;

  border-radius: 8px;

  cursor: pointer;

  background: #1e293b;

  color: white;
}

.pagination button:disabled {

  opacity: 0.5;

  cursor: not-allowed;
}

.active-page {

  background: #38bdf8 !important;

  color: black !important;
}